@{
    ViewData["Title"] = "Контакти";
}

<div class="container py-5">
    <h1 class="mb-4 text-center">Контакти</h1>
    <p class="lead text-center">Свържете се с нас за въпроси и поръчки.</p>

    <div class="text-center">
        <p><strong>Email:</strong> <a href="mailto:info@simworkwear.com">info@simworkwear.com</a></p>
        <p><strong>Телефон:</strong> <a>066 803 049</a></p>
        <p><strong>Адрес:</strong> ул. Христо Смирненски 21, град Габрово, България</p>
    </div>
</div>
