@model OnlineStore.Models.Product

<h1>Детайли за продукта</h1>

<div>
    <strong>Име:</strong> @Model.Name
</div>
<div>
    <strong>Описание:</strong> @Model.Description
</div>
<div>
    <strong>Цена:</strong> @Model.Price лв.
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Редакция</a> |
    <a asp-action="Index">Назад към списъка</a>
</div>
